$mainFont                : DIN Pro;
$secondFont              : 'Roboto', sans-serif;
$buttonFont              : Gilroy;

$mainInputColor          : #878787;
$mainFontColor           : #222222;
$mainColor               : #F47821;
$mainBackgroundColor     : #ffffff;
$headerTextColor         : #4A4556;
$mainTextColor           : #4E4D53;
$aboutColor              : #F7F5FA;

$highDestopWidth         : 1440px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

$centerText              : center;

$mainFontSize            : 48px; 
$aboutMainFontSize       : 40px;
$secondFontSize          : 16px;
$mainTextsFontSize       : 24px;
$aboutSize               : 20px;
$mainTextFontSize        : 12px;


$mainPadding             : 60px;
$mainPaddingTop          : 50px;
$mainIndent              : 24px;